@media screen {

.resresnojs { font-size: 18px;}
.resreshr { margin: 30px 0; }


/* hide the tick boxes for the section reorder*/
#resres_menu_section_list input {
	display: none;
}

#resres_menu_section_list li:hover {
	cursor: move;
}

#resres_menu_section_list li {
	padding: 5px;
	max-width: 240px;
	background-color: #C60000; /*mainly picked this colour because the name sounds vaguely dirty */
	color: #fff;
	font-weight: bold;
}

#resres_settings_logo {
	height: 50px;
}

.resres_sortable_placeholder {
	border: #666 thin dashed;
	background-color: transparent !important;
	height: 15px;
}

/* RESERVATION pAGE */

#resres_res_loader {
	margin-bottom: -10px;
	display: none;
}

.resres_res_right {
	float:right;
}

#resres_show_res_screen {
float: right;
}

.resres_cur_ {
	clear: both;
	padding-top: 10px;
}

.resres_res_checkboxes {
	margin-left: 50px;
	margin-top: 6px;
}
#resres_reg_print {
	margin-left: 50px;
}

#resres_date_help:before {
	content: "\f223";
	color: #2ea2cc;
	vertical-align: middle;
	font-size: 22px;
}

#resres_res_table {
	width: 100%;
}

#resres_res_table th,
#resres_res_table td {
	text-align: center;
}

.res_5  { width:5%; }
.res_10 { width:10%; }
.res_15 { width:15%; }
.res_25 { width:25%; }

.res_even {
	background-color: #f7f7f7;
}

.res_good {
	background-color: #76C176;
}

.res_bad {
	background-color: #FF8787;
}
.res_bad td,
.res_good td {
color: #EDEDED;
}

#resres_show_res_screen {
	display: none;
}

#resres_reservations_top_left { float: left; }
#resres_reservations_top_right { float: right; }

/* Setting */

.activetab {
	background-color: #f1f1f1;
}

#resres_settings_table {
	width: 50%;
}

#resres_settings_weekdays {}
#resres_settings_weekdays label {
	display: inline-block;
}


.resres_email_tags {
	display: none;
}

textarea#registration_emails_registrant_message,
textarea#registration_emails_admin_message,
textarea#registration_emails_cancel_registrant_message,
textarea#registration_emails_cancel_admin_message {
	width: 50%;
	height: 200px;
}

#resres_opening_times_admin {
	width: 500px;
}
#resres_opening_times_admin th {
	text-align: center;
}



.resres_wp_spinner { display: none; }

#resres_modal {display:none;}

#resres_notes {
width: 400px;
height: 100px;
}

#resres_sucmsg {
	color: #4BD747 !important;
}


/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */


#simplemodal-container {height:450px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


/* fixes a weird empty div at the bottom of the admin */
#ui-datepicker-div {
    display:none;
}





.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
	display: none;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}





/* menu ordering */

.resres_menu_ordering li input {
display: none;
}

.resres_menu_ordering li {
padding: 5px;
max-width: 240px;
background-color: #C60000;
color: #fff;
font-weight: bold;
}

.resres_menu_ordering li:hover {
	cursor: move;
}


 */
/*licence*/

#resres_licence_table {
	width: 544px;
}
.resres_status_bad {
	background-color: red;
	color: #fff;
	padding: 5px;
	font-weight: bold;
	margin-right: 17px;
}

.resres_status_good {
	background-color: green;
	color: #fff;
	padding: 5px;
	font-weight: bold;
	margin-right: 17px;
}

} /* end @media screen */





@media only screen 
and (max-width : 1650px) {
#resres_reservations_top_left { float: left; }
#resres_reservations_top_right { float: left; margin-top: 15px; }
.resres_cur_ { padding-top: 10px; }

}







@media print {

#adminmenuback, #adminmenuwrap, #adminmenu, #wpfooter {
	display: none;
}
#resres_modal {
	display: none;
}
#wpcontent, #wpfooter {
margin-left: 0;
}
#resres_registrations,
.resres_cur_display {
	display: none;
}

/* fixes a weird empty div at the bottom of the admin */
#ui-datepicker-div {
    display:none;
}

}
