@font-face {
	font-family: 'resres';
	src:url('../../../includes/fonts/resres.eot?ox2yma');
	src:url('../../../includes/fonts/resres.eot?#iefixox2yma') format('embedded-opentype'),
		url('../../../includes/fonts/resres.woff?ox2yma') format('woff'),
		url('../../../includes/fonts/resres.ttf?ox2yma') format('truetype'),
		url('../../../includes/fonts/resres.svg?ox2yma#resres') format('svg');
	font-weight: normal;
	font-style: normal;
}

.resres_clear {
	clear: both;
}

.resres_label .error {
	color: red;
	font-weight: bold;
}
.resres_label {
	float: left;
	margin-right: 3%;
}

#resres_partysize_wrapper .smalltext {
	width: 30px;
}

#resres_partysize_wrapper {
	width: 100%; /*250px;*/
	margin-top: 10px;
	clear: both;
	margin: 10px 15px 0 15px;
	max-width: 100%;
}
#resres_partysize {
	padding: 3px;
	margin-top: -20px;
	float: right;
	width: 80%;
}

#resres_partysize_wrapper .ui-slider-horizontal {
	height: 11px;
}

#resres_partysize_wrapper .slider {
	padding:0;
	margin:0;
}

#resres_partysize_wrapper .slider{
	width: 80%; /*188px;*/
	position: relative;
	height: 10px;
	background-color: #8e8d8d;
	/* background: url('images/slider_bar.png') no-repeat top left; */
  	/*left: 20px;*/
  	padding-bottom: 0;
  	margin-bottom: 0;
  	outline: none;
}

.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('images/slider_handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	top: -7px;
	margin-left: -12px;
}

.ui-slider-handle,
.ui-slider-handle:focus,
.ui-slider-handle:active {
	outline: none;
}


.ui-datepicker {
	z-index: 5 !important;
}

.ui-slider-range {
background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea));
background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
position: absolute;
border: 0;
top: 0;
height: 100%;
border-radius: 25px;
}


.res_clearmargin {
	clear: both;
}
.res_clearmargin input {
	margin-top: 20px;
}



.resres_success_message {
	margin-top: 15px;
	padding: 10px;
	text-align: center;
	background-color: green;
	color: white;
}
.resres_error_message {
	margin-top: 15px;
	padding: 10px;
	text-align: center;
	background-color: red;
	color: white;
}

.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #eee;
	cursor: default;
	display: none;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}





@media (max-width: 444px) {
	#resres_form #recaptcha_image {
	margin: 0 !important;
	width: 200px !important;
	}
	.recaptchatable .recaptcha_r1_c1, .recaptchatable .recaptcha_r2_c2, .recaptchatable .recaptcha_r3_c1, .recaptchatable .recaptcha_r3_c2, .recaptchatable .recaptcha_r7_c1, .recaptchatable .recaptcha_r8_c1, .recaptchatable .recaptcha_r3_c3, .recaptchatable .recaptcha_r2_c1, .recaptchatable .recaptcha_r4_c1, .recaptchatable .recaptcha_r4_c2, .recaptchatable .recaptcha_r4_c4, .recaptchatable .recaptcha_image_cell {

	background: none !important;
	}
}







.resres_dish_meta_single {
	background-color: #eee;
	margin-right: 10px;
	padding: 5px;
	display: inline-block;
	margin-top: 5px;
}

.resres_meta_block {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	margin-top: 15px;
}

.allergen_image,
.allergen_image_white {
	font-family: 'resres' !important;
	display: inline-block;
	margin: 0 5px 25px 5px;

}

.resres_dish_wine {
	text-indent: 0;
}

.resres_chili {
	list-style-type: none;
}
.resres_chili li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.resres_chili li img {
	border: none;
	box-shadow: none;
}

.post-content ul.resres_chili,
#resres_menu ul.resres_chili li,
#resres_menu ul.resres_chili {
  padding:0;
  margin:-7px 0 0 0;
}

.resres_dish_meta .resres_small_chili {
	height: 28px;
	margin-top: -3px;
}



/* Address and Opening Times */

#resres_address_wrapper {
	clear: both;
	overflow: hidden;
}
.resres_address_time_block {
	width: 30%; /*50%;*/
	float: left;
}

.resres_time_wrapper {
	border: none !important;
	max-width: 600px;
}

.resres_address {
}

.resres_address tbody tr td:first-child {
	padding-right: 10px;
}

.resres_opening_times {

}

.resres_address_icons {}

[data-icon]:before {
    font-family: 'resres';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


.resres_address_time_block table tr td,
.resres_address_time_block table,
.resres_time_wrapper table tr td,
.resres_time_wrapper table,
.resres_address,
.resres_opening_times {
border-top: none !important;
border-right: none !important;
border-bottom: none !important;
border-left: none !important;
border:none !important;
padding: 0;
}



.resres_map_canvas_container {
	width: 0%;
	float: left;
}



.resres_map_canvas_container {
	display: inline-block;
	position: relative;
	width: 48%;
	margin-left: 1%;
	border: #979797 thin solid;
}
#dummy {
    padding-top: 75%; /* 4:3 aspect ratio */
}
#resres_map_canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver /* show me! */
}




.allergen_image {
	font-size:40px;
}
.allergen_image_white {
	color: #fff;
	font-size:40px;
}

.allergen_image_font_vegetarian:before {
content: '\e605';
}
.allergen_image_font_vegan:before {
content: '\e604';
}

.allergen_image_font_contains_gluten:before {
content: '\e60b';
}
.allergen_image_font_contains_wheat:before {
content: '\e60d';
}
.allergen_image_font_contains_lactose:before {
content: '\e60a';
}
.allergen_image_font_contains_dairy:before {
content: '\e612';
}
.allergen_image_font_sugar_free:before {
content: '\e60c';
}
.allergen_image_font_contains_egg:before {
content: '\e609';
}
.allergen_image_font_contains_peanuts:before {
content: '\e601';
}
.allergen_image_font_contains_fish:before {
content: '\e60e';
}
.allergen_image_font_contains_shellfish:before {
content: '\e600';
}


.allergen_image_font_new:before {
content: '\e627';
}
.allergen_image_font_special:before {
content: '\e626';
}

.allergen_image_font_spicy {
margin: 0;
}
.allergen_image_font_spicy:before {
content: '\e607';
color: red;
}
